.fajne{display: inline-block;;
  color: #4F2537;
margin:35px;
text-align:center;
padding:10px;}

.fajne:hover {color: #2E1620;}

body {
  background-image: url('tlo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
#kontener {width: 600px;
margin:auto;
font-family:Times;
color: #4F2537;
font-size: 15px;
font-weight: 800;}

#naglowek{height:100px;
background-color: rgba(98, 153, 187, 0.432);
text-align:center;
padding-top:10px;
padding-bottom:10px;
font-size:20px;
border-bottom-right-radius:20px;
border-bottom-left-radius:20px;
border-top-right-radius:20px;
border-top-left-radius:20px;
}

.zawartosc {height: 500px;
padding: 10px;
text-align: center;}

a:visited{color:#BF9B45;
text-decoration: none;}
a:link{color:#4F2537;
text-decoration: none;}
